/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

:root {
  --accent-color: #ff9c00;
  --accent-color-dark: #de6600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  grid-gap: 96px;
  padding: 48px
}

.box {
  padding: 10px
}

h2 {
  font-size: 22px
}

p {
  font-style: normal;
  padding-top: 10px;
  margin: 2px;
  font-size: 12px;
  text-align: left
}

input:not([type="radio"]):not([type="checkbox"]),
button,
select {
  padding: 0 8px;
  border-radius: 5px;
  border: 2px solid #afafaf;
  font-size: 14px;
  height: 32px;
}

button {
  font-weight: bold;
  background-color: var(--accent-color-dark);
  border-color: var(--accent-color-dark);
  box-shadow: 0 2px 0 rgba(0, 0, 0, .1);
  color: #FFF;
}

p.power_generator-card__price {
  font-style: normal;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  color: red
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96px;
  padding: 16px;
}

.header__title {
  font-size: 32px;
  color: #000;
  flex-shrink: 0;
}

.gradient {
  background: var(--accent-color);
  background: linear-gradient(to right, var(--accent-color), #ffcf00)
}

.logo {
  flex-grow: 1;
  flex-shrink: 0;
}

.logo img {
  height: 96px;
  margin-top: 1%;
}

.searcher {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 56px
}

.searcher__radio {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.searcher input[type="search"] {
  border: none;
}

.simple-form {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex
}

.simple-form__input {
  margin-right: 4px;
}

.form-check {
  margin-right: 24px;
}

.advanced-form {
  padding: 20px;
  border: 1px solid #ccc
}

.advanced-form h3 {
  margin-bottom: 8px;
}

.power_generators-list {
  display: flex;
  flex-direction: column;
  align-items: center
}

.power_generator-card {
  display: flex;
  flex-direction: row;
}

.power_generator-card__img {
  width: 220px;
  height: 220px;
  border-radius: 0.25em
}

.power_generator-card__body {
  margin-left: 26px;
  /* margin-right: 130px */
}

.power_generator-card__button {
  color: #e96443
}

.power_generator_search {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  align-items: end;
}

.form-item label {
  display: block;
}

.form-item input,
.form-item select {
  width: 100%;
}
